#baseImage, #necklaceOverlay {
    display: none;
}

#outputCanvas {
    border: 1px solid black;
}
.element-class {
    font-family: 'Aref Ruqaa Ink', cursive; /* 'cursive' is a fallback font in case 'Aref Ruqaa Ink' doesn't load */
}
